flows_formatted.json
[
    {
        "id": "d7bddcf7.34c48",
        "type": "tab",
        "label": "Alvidino",
        "disabled": false,
        "info": ""
    },
    {
        "id": "459a2c65.0b6384",
        "type": "ui_gauge",
        "z": "d7bddcf7.34c48",
        "name": "fixture room temp.",
        "group": "2839c78c.264178",
        "order": 2,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "",
        "label": "град.",
        "format": "{{value}}",
        "min": "10",
        "max": "30",
        "colors": [
            "#0024b3",
            "#e69100",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "48ece124.8462f",
        "type": "debug",
        "z": "d7bddcf7.34c48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 320,
        "wires": []
    },
    {
        "id": "29a3974a.56d1e",
        "type": "mqtt out",
        "z": "d7bddcf7.34c48",
        "name": "alvidino/ROOM01/commands",
        "topic": "alvidino/ROOM01/commands",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10675305.12a31d",
        "x": 1160,
        "y": 260,
        "wires": []
    },
    {
        "id": "cd7470ff.83f73",
        "type": "mqtt in",
        "z": "d7bddcf7.34c48",
        "name": "alvidino/ROOM01/executedcommands",
        "topic": "alvidino/ROOM01/executedcommands",
        "qos": "2",
        "datatype": "auto",
        "broker": "10675305.12a31d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 1510,
        "y": 260,
        "wires": [
            [
                "f5248e7f.533fe8",
                "d2687faa.146bc",
                "a9a8986.d4e6b68"
            ]
        ]
    },
    {
        "id": "f5248e7f.533fe8",
        "type": "debug",
        "z": "d7bddcf7.34c48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1820,
        "y": 220,
        "wires": []
    },
    {
        "id": "d2687faa.146bc",
        "type": "debug",
        "z": "d7bddcf7.34c48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1790,
        "y": 260,
        "wires": []
    },
    {
        "id": "3b754941.0f7846",
        "type": "ui_slider",
        "z": "d7bddcf7.34c48",
        "name": "",
        "label": "Задать темп.",
        "tooltip": "",
        "group": "2839c78c.264178",
        "order": 3,
        "width": 5,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "10",
        "max": "30",
        "step": 1,
        "x": 680,
        "y": 160,
        "wires": [
            [
                "459a2c65.0b6384",
                "6fd9ee74.1657e8"
            ]
        ]
    },
    {
        "id": "5e5ae4cd.82d0ec",
        "type": "ui_switch",
        "z": "d7bddcf7.34c48",
        "name": "Автоматический режим вкл./выкл.",
        "label": "Автоматический режим вкл./выкл.",
        "tooltip": "",
        "group": "2839c78c.264178",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "SET_AUTO_TRUE",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "SET_AUTO_FALSE",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 740,
        "y": 440,
        "wires": [
            [
                "8f3bbd97.194038",
                "2b7e9f8c.80fe48"
            ]
        ]
    },
    {
        "id": "b176c783.166198",
        "type": "debug",
        "z": "d7bddcf7.34c48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1510,
        "y": 440,
        "wires": []
    },
    {
        "id": "ba13e0fa.650d8",
        "type": "ui_switch",
        "z": "d7bddcf7.34c48",
        "name": "Ручное управление вкл./выкл.",
        "label": "Ручное управление вкл./выкл.",
        "tooltip": "",
        "group": "2839c78c.264178",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "TURN_ON_ROOM01_HEATER",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "TURN_OFF_ROOM01_HEATER",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 1320,
        "y": 540,
        "wires": [
            [
                "2b7e9f8c.80fe48"
            ]
        ]
    },
    {
        "id": "8f3bbd97.194038",
        "type": "switch",
        "z": "d7bddcf7.34c48",
        "name": "switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SET_AUTO_TRUE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SET_AUTO_FALSE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 520,
        "wires": [
            [
                "24790690.aeab2a"
            ],
            [
                "54605b68.9a90b4"
            ]
        ]
    },
    {
        "id": "24790690.aeab2a",
        "type": "change",
        "z": "d7bddcf7.34c48",
        "name": "false",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "54605b68.9a90b4",
        "type": "change",
        "z": "d7bddcf7.34c48",
        "name": "true",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "2b7e9f8c.80fe48",
        "type": "template",
        "z": "d7bddcf7.34c48",
        "name": "Шаблон CMD",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"CMD\": \"{{payload}}\"}",
        "output": "str",
        "x": 1290,
        "y": 440,
        "wires": [
            [
                "29a3974a.56d1e",
                "b176c783.166198"
            ]
        ]
    },
    {
        "id": "6fd9ee74.1657e8",
        "type": "template",
        "z": "d7bddcf7.34c48",
        "name": "Шаблон CMD с параметром",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"CMD\": \"SET_MAX_ROOM01_TEMP\", \"TEMP\": {{payload}}}",
        "output": "str",
        "x": 750,
        "y": 260,
        "wires": [
            [
                "29a3974a.56d1e",
                "48ece124.8462f"
            ]
        ]
    },
    {
        "id": "589df905.a77a28",
        "type": "mqtt in",
        "z": "d7bddcf7.34c48",
        "name": "alvidino/ROOM01/answers",
        "topic": "alvidino/ROOM01/answers",
        "qos": "2",
        "datatype": "auto",
        "broker": "10675305.12a31d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 1170,
        "y": 800,
        "wires": [
            [
                "8d3a9e6.fd3486",
                "2dc284ef.2f75d4",
                "4fdb820e.72b1ec"
            ]
        ]
    },
    {
        "id": "8d3a9e6.fd3486",
        "type": "debug",
        "z": "d7bddcf7.34c48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 800,
        "wires": []
    },
    {
        "id": "2dc284ef.2f75d4",
        "type": "debug",
        "z": "d7bddcf7.34c48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 840,
        "wires": []
    },
    {
        "id": "b3539dad.00e0f8",
        "type": "inject",
        "z": "d7bddcf7.34c48",
        "name": "GET_ROOM01_TEMP",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "50",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "GET_ROOM01_TEMP",
        "payloadType": "str",
        "x": 760,
        "y": 620,
        "wires": [
            [
                "2b7e9f8c.80fe48"
            ]
        ]
    },
    {
        "id": "d7ba6acc.67d2d",
        "type": "ui_chart",
        "z": "d7bddcf7.34c48",
        "name": "Температура в помещении",
        "group": "ea7887a0.f23c7",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Температура в помещении, град.С:",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "-5",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ff0000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1660,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "93af1f49.a149f8",
        "type": "inject",
        "z": "d7bddcf7.34c48",
        "name": "GET_ROOM01_PRESSURE",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "130",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "GET_ROOM01_PRESSURE",
        "payloadType": "str",
        "x": 740,
        "y": 700,
        "wires": [
            [
                "2b7e9f8c.80fe48"
            ]
        ]
    },
    {
        "id": "be2aaf51.5e6238",
        "type": "inject",
        "z": "d7bddcf7.34c48",
        "name": "GET_ROOM01_HUMIDITY",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "230",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "GET_ROOM01_HUMIDITY",
        "payloadType": "str",
        "x": 750,
        "y": 660,
        "wires": [
            [
                "2b7e9f8c.80fe48"
            ]
        ]
    },
    {
        "id": "66e292f.33f3eec",
        "type": "inject",
        "z": "d7bddcf7.34c48",
        "name": "GET_OUTER_TEMP",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "70",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "GET_OUTER_TEMP",
        "payloadType": "str",
        "x": 760,
        "y": 740,
        "wires": [
            [
                "2b7e9f8c.80fe48"
            ]
        ]
    },
    {
        "id": "4fdb820e.72b1ec",
        "type": "json",
        "z": "d7bddcf7.34c48",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1110,
        "y": 900,
        "wires": [
            [
                "fadf5499.f40ec8",
                "838b10dd.03c7b",
                "39b42a6.db7bb56",
                "19f8073e.1d4349"
            ]
        ]
    },
    {
        "id": "fadf5499.f40ec8",
        "type": "function",
        "z": "d7bddcf7.34c48",
        "name": "GET_ROOM01_TEMP_func",
        "func": "if (msg.payload.ANSW == \"GET_ROOM01_TEMP\") {\n    msg.payload = msg.payload.DATA;\n    msg.topic = \"Температура по Цельсию\";\n    return msg;\n}\n/*return msg;*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 900,
        "wires": [
            [
                "d7ba6acc.67d2d",
                "fdf5c387.63e6b"
            ]
        ]
    },
    {
        "id": "838b10dd.03c7b",
        "type": "function",
        "z": "d7bddcf7.34c48",
        "name": "GET_ROOM01_HUMIDITY_func",
        "func": "if (msg.payload.ANSW == \"GET_ROOM01_HUMIDITY\") {\n    msg.payload = msg.payload.DATA;\n    return msg;\n}\n/*return msg;*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 960,
        "wires": [
            [
                "18205d70.235ad3"
            ]
        ]
    },
    {
        "id": "39b42a6.db7bb56",
        "type": "function",
        "z": "d7bddcf7.34c48",
        "name": "GET_ROOM01_PRESSURE_func",
        "func": "if (msg.payload.ANSW == \"GET_ROOM01_PRESSURE\") {\n    msg.payload = msg.payload.DATA;\n    return msg;\n}\n/*return msg;*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 1020,
        "wires": [
            [
                "4b03429b.a88d44"
            ]
        ]
    },
    {
        "id": "19f8073e.1d4349",
        "type": "function",
        "z": "d7bddcf7.34c48",
        "name": "GET_OUTER_TEMP_func",
        "func": "if (msg.payload.ANSW == \"GET_OUTER_TEMP\") {\n    msg.payload = msg.payload.DATA;\n    return msg;\n}\n/*return msg;*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 1080,
        "wires": [
            [
                "2a025e66.da28a2"
            ]
        ]
    },
    {
        "id": "fdf5c387.63e6b",
        "type": "debug",
        "z": "d7bddcf7.34c48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 860,
        "wires": []
    },
    {
        "id": "18205d70.235ad3",
        "type": "ui_text",
        "z": "d7bddcf7.34c48",
        "group": "ea7887a0.f23c7",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Влажность в помещении",
        "label": "Влажность в помещении, %:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1650,
        "y": 960,
        "wires": []
    },
    {
        "id": "4b03429b.a88d44",
        "type": "ui_text",
        "z": "d7bddcf7.34c48",
        "group": "ea7887a0.f23c7",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Атмосферное давление",
        "label": "Атмосферное давление, мм.рт.ст.:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1650,
        "y": 1020,
        "wires": []
    },
    {
        "id": "2a025e66.da28a2",
        "type": "ui_text",
        "z": "d7bddcf7.34c48",
        "group": "ea7887a0.f23c7",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Температура на улице",
        "label": "Температура на улице, град.С:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1650,
        "y": 1080,
        "wires": []
    },
    {
        "id": "634b2d61.393744",
        "type": "ui_switch",
        "z": "d7bddcf7.34c48",
        "name": "",
        "label": "Реле 01 вкл./выкл.",
        "tooltip": "",
        "group": "240bd8f2.006de",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "TURN_ON_RELAY01",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "TURN_OFF_RELAY01",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 630,
        "y": 820,
        "wires": [
            [
                "dc7ebb16.02d968"
            ]
        ]
    },
    {
        "id": "3eb24626.98adb2",
        "type": "ui_switch",
        "z": "d7bddcf7.34c48",
        "name": "",
        "label": "Реле 02 вкл./выкл.",
        "tooltip": "",
        "group": "240bd8f2.006de",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "TURN_ON_RELAY02",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "TURN_OFF_RELAY02",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 630,
        "y": 880,
        "wires": [
            [
                "dc7ebb16.02d968"
            ]
        ]
    },
    {
        "id": "15004289.63abed",
        "type": "ui_switch",
        "z": "d7bddcf7.34c48",
        "name": "",
        "label": "Реле 03 вкл./выкл.",
        "tooltip": "",
        "group": "240bd8f2.006de",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "TURN_ON_RELAY03",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "TURN_OFF_RELAY03",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 630,
        "y": 940,
        "wires": [
            [
                "dc7ebb16.02d968"
            ]
        ]
    },
    {
        "id": "a9a37924.fa8be8",
        "type": "ui_switch",
        "z": "d7bddcf7.34c48",
        "name": "",
        "label": "Реле 04 вкл./выкл.",
        "tooltip": "",
        "group": "240bd8f2.006de",
        "order": 7,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "TURN_ON_RELAY04",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "TURN_OFF_RELAY04",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 630,
        "y": 1000,
        "wires": [
            [
                "dc7ebb16.02d968"
            ]
        ]
    },
    {
        "id": "dc7ebb16.02d968",
        "type": "template",
        "z": "d7bddcf7.34c48",
        "name": "Шаблон CMD",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"CMD\": \"{{payload}}\"}",
        "output": "str",
        "x": 870,
        "y": 820,
        "wires": [
            [
                "29a3974a.56d1e"
            ]
        ]
    },
    {
        "id": "b2f7fd2.710c5",
        "type": "inject",
        "z": "d7bddcf7.34c48",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "TURN_OFF_ROOM01_HEATER",
        "payloadType": "str",
        "x": 1300,
        "y": 660,
        "wires": [
            [
                "ba13e0fa.650d8"
            ]
        ]
    },
    {
        "id": "cb13afe4.f13e3",
        "type": "inject",
        "z": "d7bddcf7.34c48",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "TURN_ON_ROOM01_HEATER",
        "payloadType": "str",
        "x": 1300,
        "y": 620,
        "wires": [
            [
                "ba13e0fa.650d8"
            ]
        ]
    },
    {
        "id": "87bc0067.03e96",
        "type": "mqtt in",
        "z": "d7bddcf7.34c48",
        "name": "alvidino/ROOM01/synch",
        "topic": "alvidino/ROOM01/synch",
        "qos": "2",
        "datatype": "auto",
        "broker": "10675305.12a31d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "1b52eb10.574ae5"
            ]
        ]
    },
    {
        "id": "1b52eb10.574ae5",
        "type": "json",
        "z": "d7bddcf7.34c48",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "d6363d0d.90ffe8",
                "b48868d9.4c21b",
                "b727bc02.4121",
                "3dd3ea17.267606",
                "58c4bb74.66752c",
                "876c6df3.c17af8",
                "722f9f60.07609",
                "12c59846.aee5a"
            ]
        ]
    },
    {
        "id": "d6363d0d.90ffe8",
        "type": "debug",
        "z": "d7bddcf7.34c48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 110,
        "y": 240,
        "wires": []
    },
    {
        "id": "b48868d9.4c21b",
        "type": "function",
        "z": "d7bddcf7.34c48",
        "name": "SET_MAX_ROOM01_TEMP_func",
        "func": "if (msg.payload.SYNCH == \"SET_MAX_ROOM01_TEMP\") {\n    msg.payload = msg.payload.DATA;\n    return msg;\n}\n/*return msg;*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 160,
        "wires": [
            [
                "3b754941.0f7846",
                "3d4e8d2f.746682"
            ]
        ]
    },
    {
        "id": "3d4e8d2f.746682",
        "type": "debug",
        "z": "d7bddcf7.34c48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "b727bc02.4121",
        "type": "function",
        "z": "d7bddcf7.34c48",
        "name": "SET_AUTO_func",
        "func": "if ((msg.payload.SYNCH == \"SET_AUTO_FALSE\")||(msg.payload.SYNCH == \"SET_AUTO_TRUE\")){\n    msg.payload = msg.payload.SYNCH;\n    return msg;\n}\n/*return msg;*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 220,
        "wires": [
            [
                "5e5ae4cd.82d0ec"
            ]
        ]
    },
    {
        "id": "3dd3ea17.267606",
        "type": "function",
        "z": "d7bddcf7.34c48",
        "name": "TURN_RELAY01_func",
        "func": "if ((msg.payload.SYNCH == \"TURN_ON_RELAY01\")||(msg.payload.SYNCH == \"TURN_OFF_RELAY01\")){\n    msg.payload = msg.payload.SYNCH;\n    return msg;\n}\n/*return msg;*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 280,
        "wires": [
            [
                "634b2d61.393744"
            ]
        ]
    },
    {
        "id": "58c4bb74.66752c",
        "type": "function",
        "z": "d7bddcf7.34c48",
        "name": "TURN_RELAY02_func",
        "func": "if ((msg.payload.SYNCH == \"TURN_ON_RELAY02\")||(msg.payload.SYNCH == \"TURN_OFF_RELAY02\")){\n    msg.payload = msg.payload.SYNCH;\n    return msg;\n}\n/*return msg;*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 340,
        "wires": [
            [
                "3eb24626.98adb2"
            ]
        ]
    },
    {
        "id": "876c6df3.c17af8",
        "type": "function",
        "z": "d7bddcf7.34c48",
        "name": "TURN_RELAY03_func",
        "func": "if ((msg.payload.SYNCH == \"TURN_ON_RELAY03\")||(msg.payload.SYNCH == \"TURN_OFF_RELAY03\")){\n    msg.payload = msg.payload.SYNCH;\n    return msg;\n}\n/*return msg;*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 400,
        "wires": [
            [
                "15004289.63abed"
            ]
        ]
    },
    {
        "id": "722f9f60.07609",
        "type": "function",
        "z": "d7bddcf7.34c48",
        "name": "TURN_RELAY04_func",
        "func": "if ((msg.payload.SYNCH == \"TURN_ON_RELAY04\")||(msg.payload.SYNCH == \"TURN_OFF_RELAY04\")){\n    msg.payload = msg.payload.SYNCH;\n    return msg;\n}\n/*return msg;*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 460,
        "wires": [
            [
                "a9a37924.fa8be8"
            ]
        ]
    },
    {
        "id": "a9a8986.d4e6b68",
        "type": "json",
        "z": "d7bddcf7.34c48",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1390,
        "y": 140,
        "wires": [
            [
                "13f6cf6e.2b6e41",
                "eb9dfa83.42926",
                "744e1a80.fa04e4",
                "2b0a9c19.0ea584",
                "6f4442f0.d97114",
                "96c730b0.8a8a98"
            ]
        ]
    },
    {
        "id": "13f6cf6e.2b6e41",
        "type": "debug",
        "z": "d7bddcf7.34c48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 60,
        "wires": []
    },
    {
        "id": "74ffe4cf.ad162c",
        "type": "ui_led",
        "z": "d7bddcf7.34c48",
        "group": "2839c78c.264178",
        "order": 1,
        "width": 5,
        "height": 1,
        "label": "Нагреватель",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED Нагреватель",
        "x": 1910,
        "y": 140,
        "wires": []
    },
    {
        "id": "eb9dfa83.42926",
        "type": "function",
        "z": "d7bddcf7.34c48",
        "name": "TURN_ROOM01_HEATER_func",
        "func": "if (msg.payload.SUCCESSFULLY_PROCESSED_COMMAND == \"TURN_ON_ROOM01_HEATER\") {\n    msg.payload = 1;\n    return msg;\n}\nif (msg.payload.SUCCESSFULLY_PROCESSED_COMMAND == \"TURN_OFF_ROOM01_HEATER\") {\n    msg.payload = 0;\n    return msg;\n}\n/*return msg;*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 140,
        "wires": [
            [
                "74ffe4cf.ad162c"
            ]
        ]
    },
    {
        "id": "d36deaeb.3fd8c8",
        "type": "inject",
        "z": "d7bddcf7.34c48",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SET_AUTO_TRUE",
        "payloadType": "str",
        "x": 350,
        "y": 540,
        "wires": [
            [
                "5e5ae4cd.82d0ec"
            ]
        ]
    },
    {
        "id": "ebd611f1.035188",
        "type": "inject",
        "z": "d7bddcf7.34c48",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SET_AUTO_FALSE",
        "payloadType": "str",
        "x": 350,
        "y": 580,
        "wires": [
            [
                "5e5ae4cd.82d0ec"
            ]
        ]
    },
    {
        "id": "2a18a4ab.0f89b4",
        "type": "comment",
        "z": "d7bddcf7.34c48",
        "name": "Приём сообщений синхронизации",
        "info": "",
        "x": 160,
        "y": 20,
        "wires": []
    },
    {
        "id": "3d57aaa8.bb6d86",
        "type": "comment",
        "z": "d7bddcf7.34c48",
        "name": "Отправка команд",
        "info": "",
        "x": 1120,
        "y": 220,
        "wires": []
    },
    {
        "id": "7d9b0de2.2874c4",
        "type": "comment",
        "z": "d7bddcf7.34c48",
        "name": "Приём подтверждения команд",
        "info": "",
        "x": 1490,
        "y": 220,
        "wires": []
    },
    {
        "id": "ed3558b4.2ae158",
        "type": "comment",
        "z": "d7bddcf7.34c48",
        "name": "Приём установленных значений",
        "info": "",
        "x": 1200,
        "y": 760,
        "wires": []
    },
    {
        "id": "12c59846.aee5a",
        "type": "function",
        "z": "d7bddcf7.34c48",
        "name": "TURN_ROOM01_HEATER_func",
        "func": "if ((msg.payload.SYNCH == \"TURN_ON_ROOM01_HEATER\")||(msg.payload.SYNCH == \"TURN_OFF_ROOM01_HEATER\")){\n    msg.payload = msg.payload.SYNCH;\n    return msg;\n}\n/*return msg;*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 760,
        "wires": [
            [
                "ba13e0fa.650d8",
                "75022bee.e7c64c"
            ]
        ]
    },
    {
        "id": "75022bee.e7c64c",
        "type": "debug",
        "z": "d7bddcf7.34c48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 840,
        "wires": []
    },
    {
        "id": "b5f94186.b3a65",
        "type": "ui_led",
        "z": "d7bddcf7.34c48",
        "group": "240bd8f2.006de",
        "order": 2,
        "width": 2,
        "height": 1,
        "label": "",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED RELAY01",
        "x": 2020,
        "y": 360,
        "wires": []
    },
    {
        "id": "8bbc8af9.413f4",
        "type": "ui_led",
        "z": "d7bddcf7.34c48",
        "group": "240bd8f2.006de",
        "order": 4,
        "width": 2,
        "height": 1,
        "label": "",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED RELAY02",
        "x": 2020,
        "y": 400,
        "wires": []
    },
    {
        "id": "16af2946.5323cf",
        "type": "ui_led",
        "z": "d7bddcf7.34c48",
        "group": "240bd8f2.006de",
        "order": 6,
        "width": 2,
        "height": 1,
        "label": "",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED RELAY03",
        "x": 2020,
        "y": 440,
        "wires": []
    },
    {
        "id": "1068b9b2.e68576",
        "type": "ui_led",
        "z": "d7bddcf7.34c48",
        "group": "240bd8f2.006de",
        "order": 8,
        "width": 2,
        "height": 1,
        "label": "",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED RELAY04",
        "x": 2020,
        "y": 480,
        "wires": []
    },
    {
        "id": "744e1a80.fa04e4",
        "type": "function",
        "z": "d7bddcf7.34c48",
        "name": "TURN_RELAY01_func",
        "func": "if (msg.payload.SUCCESSFULLY_PROCESSED_COMMAND == \"TURN_ON_RELAY01\") {\n    msg.payload = 1;\n    return msg;\n}\nif (msg.payload.SUCCESSFULLY_PROCESSED_COMMAND == \"TURN_OFF_RELAY01\") {\n    msg.payload = 0;\n    return msg;\n}\n/*return msg;*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 360,
        "wires": [
            [
                "b5f94186.b3a65"
            ]
        ]
    },
    {
        "id": "2b0a9c19.0ea584",
        "type": "function",
        "z": "d7bddcf7.34c48",
        "name": "TURN_RELAY02_func",
        "func": "if (msg.payload.SUCCESSFULLY_PROCESSED_COMMAND == \"TURN_ON_RELAY02\") {\n    msg.payload = 1;\n    return msg;\n}\nif (msg.payload.SUCCESSFULLY_PROCESSED_COMMAND == \"TURN_OFF_RELAY02\") {\n    msg.payload = 0;\n    return msg;\n}\n/*return msg;*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 400,
        "wires": [
            [
                "8bbc8af9.413f4"
            ]
        ]
    },
    {
        "id": "6f4442f0.d97114",
        "type": "function",
        "z": "d7bddcf7.34c48",
        "name": "TURN_RELAY03_func",
        "func": "if (msg.payload.SUCCESSFULLY_PROCESSED_COMMAND == \"TURN_ON_RELAY03\") {\n    msg.payload = 1;\n    return msg;\n}\nif (msg.payload.SUCCESSFULLY_PROCESSED_COMMAND == \"TURN_OFF_RELAY03\") {\n    msg.payload = 0;\n    return msg;\n}\n/*return msg;*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 440,
        "wires": [
            [
                "16af2946.5323cf"
            ]
        ]
    },
    {
        "id": "96c730b0.8a8a98",
        "type": "function",
        "z": "d7bddcf7.34c48",
        "name": "TURN_RELAY04_func",
        "func": "if (msg.payload.SUCCESSFULLY_PROCESSED_COMMAND == \"TURN_ON_RELAY04\") {\n    msg.payload = 1;\n    return msg;\n}\nif (msg.payload.SUCCESSFULLY_PROCESSED_COMMAND == \"TURN_OFF_RELAY04\") {\n    msg.payload = 0;\n    return msg;\n}\n/*return msg;*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 480,
        "wires": [
            [
                "1068b9b2.e68576"
            ]
        ]
    },
    {
        "id": "162dd2cd.1723c5",
        "type": "ui_text",
        "z": "d7bddcf7.34c48",
        "group": "ea7887a0.f23c7",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Footer",
        "label": "<font color=grey><small>&copy 2022 Created by Evgeny Uzov</small>",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 620,
        "y": 1100,
        "wires": []
    },
    {
        "id": "b56bdd13.4a7688",
        "type": "ui_text",
        "z": "d7bddcf7.34c48",
        "group": "2839c78c.264178",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Footer",
        "label": "<font color=grey><small>&copy 2022 Created by Evgeny Uzov</small>",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 490,
        "y": 1100,
        "wires": []
    },
    {
        "id": "271b5f3e.bb7d9",
        "type": "ui_text",
        "z": "d7bddcf7.34c48",
        "group": "240bd8f2.006de",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Footer",
        "label": "<font color=grey><small>&copy 2022 Created by Evgeny Uzov</small>",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 770,
        "y": 1100,
        "wires": []
    },
    {
        "id": "2839c78c.264178",
        "type": "ui_group",
        "name": "Отопление",
        "tab": "11cccdc9.25a022",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "10675305.12a31d",
        "type": "mqtt-broker",
        "name": "192.168.35.113",
        "broker": "192.168.35.113",
        "port": "8883",
        "tls": "33f7f73.78be808",
        "clientid": "Node-RED",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ea7887a0.f23c7",
        "type": "ui_group",
        "name": "Климат",
        "tab": "11cccdc9.25a022",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "240bd8f2.006de",
        "type": "ui_group",
        "name": "Управление реле",
        "tab": "11cccdc9.25a022",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "11cccdc9.25a022",
        "type": "ui_tab",
        "name": "Альвидино",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "33f7f73.78be808",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "client5.crt",
        "keyname": "client5.key",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": false
    }
]